
ValidacaoSistemas/teste2/.vs/teste2/v16/.suo
ValidacaoSistemas/teste2/.vs/teste2/v16/.suo
ValidacaoSistemas/teste2/teste2/bin/Debug/teste2.exe
ValidacaoSistemas/teste2/teste2/bin/Debug/teste2.pdb
ValidacaoSistemas/teste2/teste2/obj/Debug/teste2.csprojAssemblyReference.cache
Ubiquos/app/google-services.json
ValidacaoSistemas/teste2/.vs/teste2/v16/.suo
ValidacaoSistemas/teste2/.vs/teste2/v16/Server/sqlite3/storage.ide
ValidacaoSistemas/teste2/.vs/teste2/v16/Server/sqlite3/storage.ide-wal
ValidacaoSistemas/teste2/teste2/bin/Debug/teste2.exe
ValidacaoSistemas/teste2/teste2/bin/Debug/teste2.pdb
ValidacaoSistemas/teste2/teste2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ValidacaoSistemas/teste2/teste2/obj/Debug/teste2.exe
